

.main-content hr{
    margin-bottom: 25px;
}

.main-content h3 {
    font-size: 24px;
    margin: 1em 0 1em 1em;
    font-weight: bold;  
    color: #343c6a;
}

.main-content label {
    margin-left: 2%;
}

/* Dashboard Styles */
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-bottom: 30px;
    margin-left: 2%;
}

.dashboard-item {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dashboard-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.dashboard-icon {
    margin-right: 20px;
    color: #5c6bc0;
}

.dashboard-details a {
    text-decoration: none;
    color: #666;
}

.dashboard-details h3 {
    margin: 0;
    color: #666;
    font-size: 16px;
}

.dashboard-details p {
    font-size: 28px;
    font-weight: 600;
    color: #333;
    margin: 10px 0 0 0;
}

/* Records Section Styles */
.records-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-left: 2%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-responsive {
    overflow-x: auto;
}

.pagination-btn {
    background-color: #3f51d6;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.pagination-btn:hover {
    background-color: #3f51d8;
}

.pagination-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

label {
    margin-bottom: 5px;
    color: #555;
    font-weight: 500;
}
select {
    width: 98%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

select:focus {
    border-color: #3f51b5;
    outline: none;
}

#clientTypeSort,
#vehicleFilter {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    font-size: 16px;
    margin-left: 2%;
    background-color: #fff;
}

/* Completed Parking Table Styles */
#completed-parking-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#completed-parking-table th,
#completed-parking-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

#pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media (max-width: 768px) {

    .records, #completed-parking-table {
        width: 100%;
        min-width: 500px;
    }

    #pagination-controls {
        flex-wrap: wrap;
    }

    .pagination-btn {
        margin: 5px;
    }
 
   
}