.records-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-left: 2%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-responsive {
    overflow-x: auto;
}

@media (max-width: 768px) {
    .records, #completed-parking-table {
        width: 100%;
        min-width: 500px;
    }

    #pagination-controls {
        flex-wrap: wrap;
    }

    .pagination-btn {
        margin: 5px;
    }
}